#exchange div{
    background-color: rgb(235, 235, 235);
    height: 73px;
    margin:0;
    display: flex;
    align-items: center;
}

#exchange h3{
    margin-left: 20px;
    text-align: left;
    font-size: 20px;
}

#exchange img{
    width: 432px;
}