.menu2{
    width: 432px;
    transition: transform 0.5s ease;
    background-color: white;
    z-index: 3;
    /* display: none; */
}

.active2{
  display: inline;
  transform: translate(100%);
}

#menunav2{
  display: flex;
  align-items: center;
  border-bottom: 3px rgb(161, 161, 161) solid;
  background-color: white;
  width: 430px;
  height: 70px;
}

#arrow{
  width: 30px;
  height: 30px;
  margin-left: 4%;
  margin-right: 1%;
}

#arrow:hover{
  cursor: pointer;
}

h2{
  font-size: 20px;
}

#mypage2{
  width: 37px;
  margin-left: 30%;
}

#setting_ico2{
  scale: 1.1;
  margin-left: 2%;
}

#menulist2{
  margin-top: 8px;
  width: 432px;
}


#menulist2 ul{
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

#menulist2 ul p{
  background-color: rgb(247, 247, 255);
  width: 100%;
  margin: 0;
  height: 50px;
  padding-top: 1px;
}
#menulist2 ul h3{
  margin: 3% 0 0 3%;
}

#menulist2 ul li{
  display: flex;
  justify-content: start;
  list-style: none;
  margin: 15px 0 0 20px;
}

#menulist2 ul li img{
  height: 33px;
}