#commu{
    background-color: rgb(255, 255, 255);
    width: 432px;
    /* transform: translate(-100%); */
    display: none;
}

#high_commu{
    background-color: aquamarine;
    border-radius: 15px;
    /* border: solid black 1px; */
    width: 94%;
    height: 400px;
}