#wallet {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

#wallet #main_tag {
  width: 100%;
  display: flex;
  background-color: rgb(235, 235, 235);
}

#wallet #main_tag h3 {
  margin-left: 25px;
  font-size: 22px;
}

#wallet #main_tag img {
  margin-left: 65%;
  width: 16%;
}

/* 환율 */
#exchange-label ul {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 145px;
  background-color: rgb(255, 255, 255);

  border-radius: 10px;
  overflow-y: hidden;
  overflow-x:scroll;
  white-space: nowrap;
  list-style: none;
}
#exchange-label ul li {
  display: inline;
}

#exchange-label button {
  margin-top: 300px;
  height: 100px;
  width: 180px;
  margin: 0px 6px;
  border-radius: 10px;
  transform: translate(4%,10px);
  /* background-color: rgb(9, 79, 175); */
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

#exchange-label button p {
  margin: 3px 10px;
}

#exchange-label button p:nth-child(1) {
  font-size: 18px;
  color: white;
}

#exchange-label button p:nth-child(2) {
  font-size: 20px;
  color: white;
}

#exchange-label button p:nth-child(3) {
  font-size: 14px;
}

#exchange-label li:nth-child(1) button {
  margin-left:9px;
  /* border: 3px solid rgb(9, 79, 175); */
  background-color: rgb(9, 79, 175);
}

#exchange-label li:nth-child(1) button p:nth-child(3) {
  color: rgb(168, 168, 253);
}

#exchange-label li:nth-child(2) button {
  /* border: 3px solid rgb(175, 9, 9); */
  background-color: rgba(234,40,40);
}

#exchange-label li:nth-child(2) button p:nth-child(3) {
  color: rgb(255, 173, 173);
}

#exchange-label li:nth-child(3) button {
  /* border: 3px solid rgb(9, 79, 175); */
  background-color: rgb(9, 79, 175);
  margin-right: 30px
}

#exchange-label li:nth-child(3) button p:nth-child(3) {
  color: rgb(171, 171, 255);
}

/* wallet */
#wallet #wallet_img {
  margin-top: 13px;
  width: 432px;
}

/* qr */
#wallet #qr {
  margin-top: 13px;
  margin-left: -0.5%;
  width: 92%;
  height: 100px;
  border-radius: 10px;
  background-color: rgb(4, 35, 79);

  display: flex;
}

#wallet #qr div{
  margin: 0 13px;
}

#wallet #qr p{
  color: white;
  margin: 0;
}

#wallet #qr div:nth-child(3){
  transform: translateY(2px);
}

#wallet #qr div:nth-child(3) img{
  width: 40px;
}
#wallet #qr div:nth-child(3) p{
  margin-top: 3px;
}

/* 4thline */
#wallet #line4 {
  margin-top: 13px;
  margin-left: -0.5%;
  width: 92%;
  height: 110px;
  border-radius: 10px;
  background-color: rgb(214, 229, 252);

  display: flex;
  align-items: end;
  justify-content: center;
}

#wallet #line4 div{
  margin: 0 25px;
}

#wallet #line4 div img{
  width: 40px;
}

#wallet #line4 div:nth-child(3){
  transform: translateY(10px);
}

#wallet #line4 div:nth-child(3) img{
  width: 50px;
  margin-bottom: -8px;
}

#wallet #chatimg{
  z-index: 5;
  width: 70px;
  position: fixed;
  transform: translate( 170px, 90px);
}