.intro {
  transition: transform 2s, display 0s 3s; /* transform 속성은 2초 동안 애니메이션을 적용하며, display 속성은 3초 후에 변경 */
  transform: translate(432px, 0);
  position: fixed;
  display: block;
}

.box {
  width: 100px;
  height: 100px;
  transform: translate(217px, -833px);
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  display: block;
}

.blue-screen {
  width: 0px;
  height: 0vh;
  scale: 0;
  background-color: rgb(186, 186, 216);
  position: fixed;
  transform: translate(217px, -833px);
  transition: width 1s ease-in, height 1s ease-in, scale 1s ease-in;
}
