
/* BottomNav */
.BotNavDiv{
  display: block;
  height: 900px;
  background-color: #fffafa;
  position: fixed;
  width: 432px;
  bottom: 0;
  border-radius: 10px 10px 0 0;
  padding: 0;
}

/* main button */
.BottomNav{
  display: block;
  height: 73px;
  background-color: #878787;
  width: 432px;
}
  
.BottomNav ul{
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.BottomNav li{
  display: block;
  width: 20% ;
  text-align: center;
}

.BottomNav li a img{ 
  height: 73px;
}

/* tab */
#tab #main{
  display: flex;
  background-color: bisque;
  height: 73px;
  width: 100%;
  
  font-size: 20px;
  align-items: center;
  vertical-align: middle;
}

#tab #main button{
  margin-left : 10px;
  height: 27px;
  width: 28px;

  display: flex;
  align-items: center;
}
#tab #main button img{
  margin-left:-8px;
}

#tab #main h3{
  margin-left : 20px
}



