
/* BottomNav */
.BotNavDiv{
  display: block;
  height: 100px;
  background-color: #fffafa;
  position: fixed;
  width: 432px;
  bottom: 0;
  border-radius: 10px 10px 0 0;
  padding: 0;
}

/* main button */
.BottomNav{
  display: block;
  height: 73px;
  background-color: #878787;
  width: 432px;
}
  
.BottomNav ul{
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.BottomNav li{
  display: block;
  width: 20% ;
  text-align: center;
}

.BottomNav li a img{ 
  height: 73px;
}

/* tab */
#tab #main{
  display: flex;
  background-color: bisque;
  height: 73px;
  width: 100%;
  
  font-size: 20px;
  align-items: center;
  vertical-align: middle;
}

#tab #main img{
  margin-left : 10px
}
#tab #main h3{
  margin-left : 20px
}

/* account management */
#accman{
  display: none;
  text-align: center;
  margin-top: 10px; 
}
#accman img{
  scale: 1.2;
}

/* account history management */
#achisman{
  display: none;
}

#achisman #headachisman{
  border-bottom: rgba(128, 128, 128, 0.24) 2px solid;
  height: 78px;
}

#headachisman button{
  display: none;
  height: 60px;
  width: 200px;
  margin: 10px 6px;
  border-radius: 10px;
  border-color: #878787;
  font-size: 17px;
}

#dateachisman{
  border-bottom: rgba(128, 128, 128, 0.24) 2px solid;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dateachisman a{
  font-weight: 600;
  margin: 0 2%;
}

#memachisman #time{
  height: 50px;
  display: flex;
  align-items: center;
}

#memachisman #time a{
  margin: 0 4%;
  font-size: 14px;
}

#memachisman #time #line{
  margin: 0;
  height: 14px;
  border: 0.5px solid grey;
}

#memachisman a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}


/* setting */
#setting{
  display: none;
}

#setting ul{
  padding: 0 5%;
  margin: 0;
}

#setting ul li{
  list-style: none;
  border-bottom: #878787 solid 3px;
  font-size: 18px;
  display: flex;
  align-items: center;

  width: 100%;
  height: 55px;
  margin: 5px 0 5px 0;
}
