/* account history management */

#logman {
  /* display: none; */
}

#logman #logmanhead {
  border-bottom: rgba(128, 128, 128, 0.24) 2px solid;
  height: 78px;
}

#logmanhead button {
  display: none;
  height: 55px;
  width: 190px;
  margin: 10px 6px;
  border-radius: 10px;
  border-color: rgb(100, 148, 184);
  background-color: rgb(255, 255, 255);
  color: rgb(100, 148, 184);
  font-size: 17px;
  font-weight: 800;
}

#dateachisman {
  border-bottom: rgba(128, 128, 128, 0.24) 2px solid;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dateachisman a {
  font-weight: 600;
  margin: 0 2%;
}

#memachisman #time {
  height: 50px;
  display: flex;
  align-items: center;
}

#memachisman #time a {
  margin: 0 4%;
  font-size: 14px;
}

#memachisman #time #line {
  margin: 0;
  height: 14px;
  border: 0.5px solid grey;
}

#memachisman a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}

#dateachisman button {
  background-color: transparent;
  border: 0;
  scale: 0.8;
}

#dateachisman #leftbut {
  scale: 0.5;
}

#dateachisman #rightbut {
  scale: 0.5;
  transform: rotate(180deg);
}
