
/* BottomNav */
.BotNavDiv{
  display: block;
  background-color: #ffffff;
  position: fixed;
  width: 432px;
  bottom: 0;
  border-radius: 10px 10px 0 0;
  padding: 0;
  transition: height 0.5s ease;
}

/* main button */
.BottomNav{
  display: block;
  height: 73px;
  background-color: #ffffff;
  width: 432px;
}
  
.BottomNav ul{
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.BottomNav li{
  display: block;
  width: 20% ;
  text-align: center;
  border: #79a5eb 1px solid;
}
.BottomNav li:hover{
  cursor: pointer;
}

.BottomNav li a img{ 
  height: 73px;
}

.BottomNav input[type="radio"] {
  display: none;
}
.BottomNav label {
  width: 30px;
  height: 30px;
  display: block;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}

.BottomNav input[type="radio"]:checked + label {
  background: #79a5eb;
  color: white;
}

/* Disabled */
.BottomNav input[type="radio"] + label {
  background: #eeeeee;
}
